.ui.hud {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'a b c'
    'd e f'
    'g g g';

  .log {
    grid-area: c;
  }

  .actions {
    display: flex;
    align-items: flex-end;
    grid-area: g;
  }

  .hp {
    grid-area: a;
  }
}

.ui.hud {
  font-size: $font-size-base;
  height: 100%;
  color: #ffffffff;
  user-select: none;

  .log {
    font-size: $font-size-small;
    text-align: right;
    height: 16px;
    width: 100%;

    ul {
      margin-top: $pad-sm;
      list-style: none;
      padding-left: 0;
      position: relative;

      li.log-item {
        height: 16px;
        animation: 0.5s fade 2s 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .actions ul {
    list-style: none;
    margin: 0;
    padding: 0;

    button {
      color: #ffffffff;
      font-family: $font-family;
      font-size: $font-size-small;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      width: 64px;
      flex: 0 0 64px;
      background-color: #ff000040;
      outline: none;

      &.border {
        border: 2px solid #ff000080;
      }

      &:hover {
        background-color: #ff000060;
      }
    }
  }
}
