.inventory {
  table {
    margin-bottom: $pad-md;
    text-align: left;

    th,
    td {
      font-weight: normal;
      padding: 0;
    }
    td {
      text-align: right;
    }
  }

  font-size: $font-size-base;
  width: var(--width);
  height: 100%;
  padding: $pad-lg;
  color: black;

  background: white;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .item-panel {
    flex: 2 0 40%;
  }

  p {
    margin: 0;
  }

  .item-list {
    flex: 4 1 60%;
    line-height: 1;
    display: flex;
    flex-direction: column;

    ul {
      width: 100%;
      margin: 0;
      list-style: none;
      padding: 0 0 0 $pad-xs;
    }

    .item {
      border-left: 4px solid transparent;
      &.selected {
        border-left: 4px solid black;
      }
      display: flex;
      margin-left: -$pad-xs;
      padding: $pad-sm;
      justify-content: space-between;
      span {
        display: inline-block;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    margin-bottom: $pad-sm;
    padding-bottom: $pad-sm;
    border-bottom: $border;

    button {
      font-size: $font-size-base;
      outline: none;
      background: none;
      border: none;
      padding: $pad-xs;
      width: 48px;
      height: 48px;
      border: 4px solid transparent;

      &.selected {
        border: $border;
      }
    }
  }

  .item-panel {
    user-select: none;
    display: flex;
    flex-direction: column;

    .item-type {
      margin: 0;
      line-height: $font-size-base * 2;
      font-size: $font-size-large;
      padding-bottom: $pad-sm;
      border-bottom: $border;
    }

    .item-info {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;

      .item-title {
        flex: 1 0 auto;

        h2 {
          font-weight: normal;
          line-height: $font-size-base;
          font-size: $font-size-base;
        }
      }

      .item-description {
        flex: 0 0 auto;
      }
    }
  }

  .item-divider {
    background: black;
    height: 100%;
    width: 4px;
    margin: 0 $pad-lg;
  }
}
