$view-width: 960px;
$view-height: 540px;
$font-size-small: 16px;
$font-size-base: 24px;
$font-size-large: 32px;
$font-family: 'Alagard';

$pad-xs: 4px;
$pad-sm: 8px;
$pad-md: 16px;
$pad-lg: 24px;
$pad-lg: 32px;

$border: 4px solid black;
